
.nav2 {
	background-color: white;
	position: relative;
	top: -10px;
	margin-left: -8px;
	margin-right: -8px;
}
.img-logo {
	height: 55px;
	line-height: 55px;
	width: 145px;
}

.logo {
	display: inline-block;
	margin-left: 330px;
}

.jie {
	display: inline-block;
	position: relative;
	top: -17px;
	color: #D09E6E;
}

.sousuo {
	display: inline-block;
	position: relative;
	top: -17px;
	right: -230px;
}

.sstext {
	padding:10px;
	height: 35px;
	font-size: 15px;
	width: 580px;
	border: 2px #FC3737 solid;
}
.ssbtn {
	height: 41px;
	background-color: #FC3737;
	border: 0px #FC3737 solid;
	color: white;
	width: 115px;
	height:59px;
	font-size: 17px;
}

.ssbtn:hover {
	cursor: pointer;
}

.trmen {
	color: white;
	background-color: #FC3737;
	width: 200px;
	line-height: 30px;
	cursor: pointer;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	position: relative;
	margin-left: 330px;
}

.nav-list {
	list-style-type: none;
	display: inline-block;
}

.nav-list>li {
	display: inline-block;
	color: #7C6294;
	margin-right: 50px;
	font-weight: bold;
}

.nav-list>li:hover {
	color: black;
	cursor: pointer;
}

.list1 {
	display: inline-block;
}

.ke {
	position: relative;
	left: 60px;
	color: #FC3737;
	font-weight: bold;
	cursor: pointer;
}
.wei {
	background-color: white;
	position: relative;
	margin-top:40px;
	margin-left: -8px;
	margin-right: -8px;
	height: 200px;
}

.list3 {
	list-style-type: none;
}

.list3>li {
	display: inline-block;
}