@charset "UTF-8";
.nav2 {
	background-color: white;
	position: relative;
	top: -10px;
	margin-left: -8px;
	margin-right: -8px;
}

.nav {
	background-color: #252525;
	position: relative;
	top: -10px;
	margin-left: -8px;
	margin-right: -8px;
}

.a-one {
	text-decoration: none;
	color: #6187A2;
}

.a-one:hover {
	color: white;
}

.list-one {
	list-style: none;
}

.list-one>li {
	margin-left: 15px;
	display: inline-block;
}

.list-one>li:hover {
	color: white;
	cursor: pointer;
}

.header-left {
	display: inline-block;
	margin-left: 330px;
}

.header-right {
	display: inline-block;
	color: #6187A2;
	position: relative;
	right: -590px;
}

.img-logo {
	height: 55px;
	line-height: 55px;
	width: 145px;
}

.logo {
	display: inline-block;
	margin-left: 330px;
}

.jie {
	display: inline-block;
	position: relative;
	top: -17px;
	color: #D09E6E;
}

.sousuo {
	display: inline-block;
	position: relative;
	top: -17px;
	right: -230px;
}

.sstext {
	height: 35px;
	font-size: 15px;
	width: 580px;
	border: 2px #FC3737 solid;
}

.ssbtn {
	height: 41px;
	background-color: #FC3737;
	border: 0px #FC3737 solid;
	color: white;
	width: 105px;
	font-size: 15px;
}

.ssbtn:hover {
	cursor: pointer;
}

.trmen {
	color: white;
	background-color: #FC3737;
	width: 200px;
	line-height: 30px;
	cursor: pointer;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	position: relative;
	margin-left: 330px;
}

.nav-list {
	list-style-type: none;
	display: inline-block;
}

.nav-list>li {
	display: inline-block;
	color: #7C6294;
	margin-right: 50px;
	font-weight: bold;
}

.nav-list>li:hover {
	color: black;
	cursor: pointer;
	
}

.list1 {
	
	display: inline-block;
}

.ke {
	position: relative;
	left: 60px;
	color: #FC3737;
	font-weight: bold;
	cursor: pointer;
}

.grzxnav {
	display: inline-block;
	background-color: white;
	width: 200px;
	position: relative;
	margin-left: 385px;
}

.zklist {
	font-size: 15px;
	list-style-type: none;
	text-indent: -10px;
	color: #999999;
	cursor: pointer;
}

.zklist>li {
	margin-bottom: 15px;
	
}

.hzlist {
	font-size: 15px;
	list-style-type: none;
	text-indent: -10px;
	color: #999999;
}

.hzlist>li {
	margin-bottom: 15px;
}

.xinxi{
	margin-top:-30px;
	display:inline-block;
	position: absolute;
	background-color: white;
	left: 600px;
	top: 215px;
	width: 900px;
}
.grList{
	list-style: none;
	text-indent: -10px;
}
.grList>li{
	margin-top: 10px;
}
.addgold{
	text-indent:10px;
	width:80px;
	height:30px;
	border:1px #F96658 solid;
	border-radius:20px;
	background-color:#F96658;
	color:white;
	font-weight:bold;
	background-image: url("../image/menu.png");
	background-position: 10px -175px;
	background-repeat:no-repeat;
	cursor: pointer;
}
.updategold{
	text-indent:10px;
	width:80px;
	height:30px;
	border:1px #0EA0E0 solid;
	border-radius:20px;
	background-color:#0EA0E0;
	color:white;
	font-weight:bold;
	background-image: url("../image/ti.png");
	background-position:10px 4px;
	background-repeat:no-repeat;
	cursor: pointer;
}
.znum{
	margin-top:150px;
	display:inline-block;
	position: absolute;
	background-color: white;
	left: 600px;
	top: 215px;
	width: 900px;
}
.xxlist{
	list-style: none;
}
.xxlist>li{
	margin-left:100px;
	display:inline;
	color: #B57E66;
	font-size: 18px;
}
.Cmoney2{
	margin-top:150px;
	display:inline-block;
	position: absolute;
	background-color: white;
	left: 580px;
	top: 750px;
	width: 860px;
	height:150px;
	padding: 20px;
}
.Cmoney2 button{
	width: 110px;
	margin-left: 25px;
	height: 50px;
	background-color: white;
	border: 1px #DBDBDB solid;
	cursor: pointer;
}
.Cmoney2 span{
	font-weight: bold;
	color: #666666;
}
.Cmoney{
	z-index=50;
	margin-top:255px;
	display:inline-block;
	position: absolute;
	background-color: white;
	left: 600px;
	top: 120px;
	width: 900px;
}
.Cmoney button{
	width: 110px;
	margin-left: 25px;
	height: 50px;
	background-color: white;
	border: 1px #DBDBDB solid;
	cursor: pointer;
}
.bt{
	width: 110px;
	margin-left: 25px;
	height: 50px;
	background-color: white;
	border: 1px #DBDBDB solid;
	cursor: pointer;
}
.Cmoney span{
	font-size:20px;
	font-weight: bold;
	color: #666666;
}
.Zmoney{
	margin-top:255px;
	display:inline-block;
	position: absolute;
	background-color: white;
	left: 600px;
	top:515px;
	width: 900px;
}
.Zmoney button{
	width: 110px;
	margin-left: 25px;
	height: 50px;
	background-color: white;
	border: 1px #DBDBDB solid;
	cursor: pointer;
}
.Zmoney span{
	font-size:20px;
	font-weight: bold;
	color: #666666;
}
.one{
	border: 2px #FF0026 solid;
	color: yellow;
}
.yes{
	width:200px;
	margin-left: 315px;
	height: 50px;
	color:white;
	background-color: #FC3737;
	border: 1px #FC3737 solid;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
}
.yes1{
	width:200px;
	margin-left: 315px;
	height: 50px;
	color:white;
	background-color: #FC3737;
	border: 1px #FC3737 solid;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
}
.yesz{
	width:200px;
	margin-left: 315px;
	height: 50px;
	color:white;
	background-color: #FC3737;
	border: 1px #FC3737 solid;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
}
.Tmoney{
	margin-top:150px;
	display:inline-block;
	position: absolute;
	background-color: white;
	left: 600px;
	top: 215px;
	width: 900px;
}
.tmoney{
	width: 100px;
	font-size: 20px;
	margin-left: 60px;
	font-weight: bold;
}